---
layout: default
---
<h1>Projects:</h1>
<br>
<h3 class="post-list__post-title post-title">
  <a href="url" title>0xmining</a>
 </h3>
<p class="excerpt"><strong>[In Progress]</strong> A simple and concise operating system and webapp for mining cryptocurrencies and managing multiple mining rigs.
conveniently allows for user to track metrics and profits, with a fully accessible API. Created using MongoDB, Polymer, and some good old fashioned Linux knowledge.
</p>
<br>
<h3 class="post-list__post-title post-title">
  <a href="url" title>RFID Door Lock</a>
 </h3>
<p class="excerpt">A door lock built for a the local makerspace in town, built on a raspberry pi. The doorlock interfaces with slack to allow for the convenient monitoring of shop activities.
  Won't go into to much detail as its still in use today, if you want to learn more or see it in action and are in the Pensacola area, head down to Emerald Coast Communnity of Makers.
</p>
<br>
<h3 class="post-list__post-title post-title">
  <a href="url" title>Gitspotlight</a>
 </h3>
<p class="excerpt">Is an interactive application that makes reccomendations to software engineering students looking for opensource projects to work on, using a familiar "swipe" interface.
Built for a class in college.
</p>
<br>
<h3 class="post-list__post-title post-title">
  <a href="url" title>Resume-bot</a>
 </h3>
<p class="excerpt"><strong>[In Progress]</strong> I recently swithed from maintaining a formatted copy of my resume to using markdown and git.
This led me to have the ability to track many different branches and revisions of my resume, this bot curates a master copy of my expirence and generates a resume catering to different disceplines.
</p>
<br>